@font-face {
    font-family: 'Archer';
    src: url('Archer-Bold.woff2') format('woff2'),
        url('Archer-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('Archer-BoldItalic.woff2') format('woff2'),
			url('Archer-BoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('Archer-Light.woff2') format('woff2'),
			url('Archer-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Archer';
	src: url('Archer-LightItalic.woff2') format('woff2'),
			url('Archer-LightItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Archer';
	src: url('Archer-Medium.woff2') format('woff2'),
			url('Archer-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Archer';
	src: url('Archer-MediumItalic.woff2') format('woff2'),
			url('Archer-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}




@font-face {
	font-family: 'Plantin';
	src: url('PlantinStd-BoldCondensed.woff2') format('woff2'),
			url('PlantinStd-BoldCondensed.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'Founders Grotesk';
    src: url('FoundersGrotesk-Light.woff2') format('woff2'),
        url('FoundersGrotesk-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Founders Grotesk Light';
	src: url('FoundersGrotesk-LightItalic.woff2') format('woff2'),
			url('FoundersGrotesk-LightItalic.woff') format('woff');
			font-weight: normal;
			font-style: italic;
}


@font-face {
    font-family: 'Founders Grotesk Regular';
    src: url('FoundersGrotesk-RegularItalic.woff2') format('woff2'),
        url('FoundersGrotesk-RegularItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
	font-family: 'Founders Grotesk';
	src: url('FoundersGrotesk-Regular.woff2') format('woff2'),
			url('FoundersGrotesk-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


@font-face {
    font-family: 'Founders Grotesk';
    src: url('FoundersGrotesk-Medium.woff2') format('woff2'),
        url('FoundersGrotesk-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk Medium';
    src: url('FoundersGrotesk-MediumItalic.woff2') format('woff2'),
        url('FoundersGrotesk-MediumItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

